@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}

/*----- INDEX -----*/

main{
    padding-bottom: 1990px;
}

header nav ul{
    list-style: none;
    display: flex;
}

header nav ul li a{
    text-decoration: none;
    color: white;
    display: flex;
}

header{
    background-color: #3B1C32;
    display: flex;
    align-items: center;
    padding: 5px 2%;
    justify-content: space-between;
}

.logo img{
    height: 60px;
}   

.links_index li{
    display: inline-block;
    padding: 0px 10px;
    font-size: 20px;
    padding-right: 70px;
}

.user a{
    font-size: 20px;
    padding: 0px 10px;
    text-decoration: none;
    color: white;
}

.banner-area{
    background-image: url(../img/shoppify.jpeg);
    background-size: cover;
    background-position: center center;
    top: 75px;
    height: 500px;
    width: 100%;
    position: absolute;
}


.banner-area h2{
    padding-top: 10%;
    font-size: 60px;
    color: white;
}

.content-area{
    width: 100%;
    height: 200px;
    position: relative;
    background: white;
    top: 400px;
}

.content-area h2{
    font-size: 25px;
    margin: 0;
    padding-top: 2%;
    letter-spacing: 4%;
}

.content-area p{
    padding: 1% 1%;
    line-height: 40px;
    text-align: center;
    font-size: 22px;
}

body{
    font-family: "Poppins", serif;;
    text-align: center;
}

.container{
    background: white;
    padding: 15px 9%;
}

.container .heading{
    text-align: center;
    padding-bottom: 35px;
    color: black;
    text-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    font-size: 25px;
}

.container .card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 50px;
}

.container .card-container .card{
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border-radius: 5px;
    background: white;
    text-align: center;
    padding: 30px 20px;
}

.container .card-container .card img{
    height: 185px;
}

.container .card-container .card h2{
    color: #444;
    font-size: 22px;
    padding: 10px 0;
}

.container .card-container .card p{
    color: #777;
    font-size: 15px;
    line-height: 1.8;
}

.container .card-container .card .btn{
    margin-top: 10px;
    display: inline-block;  
    background: #333;
    color: white;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}

.container .card-container .card .btn:hover{
    letter-spacing: 1px;
}

.container .card-container .card:hover{
    box-shadow: 0 10px 15px rgba(0, 0, 0, .2);
    transform: scale(1.02);
}

.about{
    width: 100%;
    padding: 80px 0px;
    background-color: white;
}

.about img{
    height: auto;
    width: 450px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
    border-radius: 5px;
}

.about-text h2{
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text p{
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 50px;
    letter-spacing: 4px;
}

.about-main{
    width: 1000px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.gift-card-container{
    background: #dfdfdf;
    padding: 20px 1%;
    padding-bottom: 5px;
}

.gift-card-container .gift-card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
    padding-bottom: 20px;
}

.gift-card-container .gift-card .gift-card-d{
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border-radius: 5px;
    background: white;
    text-align: center;
    padding: 0 22px;
}

.gift-card-container .gift-card .gift-card-d img{
    height: 60px;
}

.gift-card h3{
    font-size: 15px;
}

.gift-card span{
    font-size: 13px;
    margin-left: 10px;
}

.gift-card-d{
    border-radius: 15px 15px 15px 15px;
    background: white;
    display: flex;
    align-items: center;
}

.cardv-container{
    background: white;
    padding: 15px 2%;
}

.cardv-container .cardv-heading{
    text-align: center;
    color: black;
    text-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    font-size: 25px;
}

.cardv-container .cardv-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 20px;
}

.cardv-container .cardv-content .cardv{
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border-radius: 5px;
    background: white;
    text-align: center;
    padding: 10px 10px;
}

.cardv-container .cardv-content .cardv:hover{
    box-shadow: 0 10px 15px rgba(0, 0, 0, .2);
    transform: scale(1.02);
}

.cardv-container .cardv-content .cardv img{
    height: 170px;
    width: 300px;
}

.cardv-container .cardv-content .cardv h2{
    font-size: 22px;
    padding: 10px 0;
}

.cardv-container .cardv-content .cardv p{
    font-size: 17px;
    line-height: 1.8;
}

footer{
    background-color: #3B1C32;
    font-size: 10px;
    padding: 10px;
    width: 100%;
    height: 100%;
}

footer ul li a{
    text-decoration: none;
}

/*----- TORNEOS -----*/

/*----- NOSOTROS -----*/

/*----- CONTACTO -----*/

/*----- AYUDA -----*/

@media screen and (max-width:768px){
   .container{
        padding: 20px;
   } 
   .cardv-container{
    padding: 20px;
   }
   .gift-card-container{
    padding: 20px;
   }
    .gift-card-container .gift-card {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 10px;
        padding-bottom: 10px;
    } 
    .gift-card-container .gift-card .gift-card-d {
        padding: 0 10px;
    }
    .gift-card-container .gift-card .gift-card-d img {
        height: 50px;
    }
    .gift-card h3 {
        font-size: 12px;
    }
    .gift-card span {
        font-size: 10px;
    }
    .about {
        padding: 40px 0px;
    }

    .about img {
        width: 100%;
        max-width: 300px;
    }

    .about-text h2 {
        font-size: 40px;
    }

    .about-text p {
        font-size: 18px;
        letter-spacing: 2px;
        margin-bottom: 30px;
    }

    .about-main {
        flex-direction: column;
        text-align: center;
    }
}

